.row1 {
	position: absolute !important;
	top: 15%;
}

.row2 {
	position: absolute;
	top: 22%;
}

.row21 {
	position: absolute;
	top: 7%;
	left: 35%
}

.row3 {
	position: absolute;
	top: 55%;
	width: 15%;
	left: 12%;
	text-align: center;
}

.row4 {
	position: absolute;
	top: 62%;
	width: 15%;
	left: 12%;
	text-align: center;
}

#master {
	/*border: solid #ececec 0.5px;*/
	height: 300px;
	width: 300px;
	background-size: contain;
	background-repeat: no-repeat;
	overflow: hidden;
	position: absolute;
}

@
-webkit-keyframes pulse { 0% {
	box-shadow: 0 0 8px #ff0000, inset 0 0 8px #ff0000;
	opacity: 1.0
}

50%
{
box-shadow
:
0
 
0
20
px
 
#ff0000
,
inset
 
0
0
20
px
 
#ff0000
;opacity
:
0
.5
 
}
100%
{
box-shadow
:
0
 
0
8
px
 
#ff0000
,
inset
 
0
0
8
px
 
#ff0000
;opacity
:
1
.0
 
}
}
.pointer {
	background-color: #ff0000;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 3px solid #ff0000;
	box-shadow: 0 0 8px #ff0000, inset 0 0 8px #ff0000;
	-webkit-animation: pulse 1s linear 1s infinite;
	position: absolute;
}

#control {
	width: 300px;
	height: 300px;
	border: 1px black solid;
}

#productIDBox {
	
}

#centerAxis {
	position: relative;
	border: 1px #00ff2d75 solid;
	background-color: #00ff2d75;
	width: 6px;
	height: 100%;
	cursor: w-resize;
	visibility: hidden;
}

input {
	width: 50px
}

.parameter_input {
	background-color: #ffffffa8;
}

.pointListElement {
	margin-top: 2%;
}

#pointList {
	margin-top: 5%;
}

.productDetails {
	
}

.footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
}


.ch_head {
	position: absolute;
	width: 80px;
	height: 80px;
	left: 255px;
	margin-left: 70%;
}

.ch_body {
	position: absolute;
	width: 80px;
	height: 95px;
	z-index: -5;
	left: 256px;
	top: 45px;
}

.ch_lhand {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 300px;
	z-index: -6;
	top: 67px;
}

.ch_rhand {
	position: absolute;
    width: 100px;
    height: 40px;
    left: 212px;
    z-index: -6;
    top: 64px;	
	-webkit-animation: handMove 5s infinite;
  	animation: handMove 5s infinite;
}

.ch_logo {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 274px;
	z-index: -3;
	top: 83px;
}

.ch_reye {
    position: absolute;
    width: 5px;
    height: 8px;
    left: 284px;
    z-index: 1;
    top: 45px;
    background-color: black;
    border-radius: 50%;
    -webkit-animation: eyeblink 5s infinite;
  	animation: eyeblink 5s infinite;
}

.ch_leye {
    position: absolute;
    width: 5px;
    height: 8px;
    left: 302px;
    z-index: 1;
    top: 45px;
    background-color: black;
    border-radius: 50%;
    -webkit-animation: eyeblink 5s infinite;
  	animation: eyeblink 5s infinite;
}
.character {
	position: absolute;
	top: 350px;
}

@keyframes eyeblink {
    0%   {height: 8px;top:45px;}
    49%  {height: 8px;top:45px;}
    50%  {height: 4px;top:47px;}
    55%  {height: 1px;top:49px;}
    60%  {height: 4px;top:47px;}
    61%  {height: 8px;top:45px;}
    100% {height: 8px;top:45px;}
}

@keyframes handMove {
	0%   {transform: rotate(0deg);top:64px}
    49%  {transform: rotate(0deg);top:64px;}
    50%  {transform: rotate(20deg);top:61px;}
    55%  {transform: rotate(40deg);top:58px;}
    60%  {transform: rotate(20deg);top:61px;}
    61%  {transform: rotate(0deg);top:64px;}
    100% {transform: rotate(0deg);top:64px;}
}